@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-width {
    @apply mx-auto max-w-3xl p-6 2xl:max-w-4xl;
  }
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900 transition-colors dark:bg-slate-900 dark:text-slate-50;
}

/* Code blocks */

.line-number::before {
  @apply ml-0 mr-4 inline-block w-4 text-right text-gray-400 dark:text-gray-600 lg:mr-5;
  content: attr(line);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.plain-text {
  @apply text-gray-500 dark:text-gray-500;
}

.token.punctuation {
  @apply text-gray-400 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.keyword {
  @apply text-blue-900 dark:text-blue-400;
}

.token.class-name,
.token.maybe-class-name,
.token.builtin {
  @apply text-emerald-600 dark:text-emerald-500;
}

.token.boolean,
.token.constant {
  @apply text-green-800 dark:text-green-400;
}

.token.symbol,
.token.deleted {
  @apply text-rose-800 dark:text-rose-500;
}

.token.number {
  @apply text-fuchsia-600 dark:text-fuchsia-300;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.inserted {
  @apply text-pink-800 dark:text-pink-400;
}

.token.string {
  @apply text-orange-800 dark:text-orange-400;
}

.token.variable {
  @apply text-violet-600 dark:text-violet-300;
}

.token.operator {
  @apply text-gray-400 dark:text-gray-100;
}

.token.entity {
  @apply text-yellow-200 dark:text-yellow-100;
}

.token.url {
  @apply text-blue-600 dark:text-blue-300;
}

.language-css .token.string,
.style .token.string {
  @apply text-green-800 dark:text-green-500;
}

.token.atrule,
.token.attr-value {
  @apply text-amber-600 dark:text-amber-200;
}

.token.function {
  @apply text-amber-600 dark:text-amber-200;
}

.token.regex {
  @apply text-amber-800 dark:text-amber-400;
}

.token.important {
  @apply text-amber-900 dark:text-amber-500;
}

.token.important,
.token.bold {
  @apply font-bold;
}

.token.italic {
  @apply font-[italic];
}
